body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Baloo', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p {
  font-size: clamp(1rem, 2.5vw, 1.8rem);
}
.carousel .slide{ background: none; }

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

code {
  font-family: monospace, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes fadein {
  from { 
    opacity: 0;
    transform: translateY(30px); 
   }
  to   
  { opacity: 1;
    transform: translateY(0px);
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { 
    opacity: 0;
    transform: translateY(30px); 
   }
  to   
  { opacity: 1;
    transform: translateY(0px);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { 
    opacity: 0;
    transform: translateY(-30px); 
   }
  to   
  { opacity: 1;
    transform: translateY(0px);
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { 
    opacity: 0;
    transform: translateY(30px); 
   }
  to   
  { opacity: 1;
    transform: translateY(0px);
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { 
    opacity: 0;
    transform: translateY(30px); 
   }
  to   
  { opacity: 1;
    transform: translateY(0px);
  }
}

.fa-gradient {
	background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#333));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@font-face {
  font-family: 'Azonix';
  src: local('Azonix'), url(./assets/fonts/Azonix.otf) format('opentype');
}

@font-face {
  font-family: 'Fluo';
  src: local('Fluo'), url(./assets/fonts/secrcode.ttf) format('truetype');
}

p {
  color: rgba(0,0,0,.92);
}

/* Brightness-zoom Container */
.img-hover-zoom--brightness img {
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
}

/* The Transformation */
.img-hover-zoom--brightness:hover img {
  transform: scale(1.1);
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.fadeIn {
  text-align: center;

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}

.fadeInLong {
  visibility: visible;
  text-align: center;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}


@keyframes scroll_1 {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-0.6em); }
  50%  { transform: translateY(0); }
  75%  { transform: translateY(0.6em); }
  100% { transform: translateY(0); }
}

.example--1 {
  background: tomato;
}

.scroll-icon__wheel-outer {
  display: block;
  position: absolute;
  left: 50%;
  top: .6em;
  height: 1em;
  width: .4em;
  margin-left: -.2em;
  border-radius: .4em;
  overflow: hidden;
}

.scroll-icon__wheel-inner {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: #fff;
  animation: scroll_1 2.75s ease-in-out infinite;
}

@keyframes scroll_2 {
  0%   { transform: translateY(0); opacity: 1; }
  25%  { opacity: 1; }
  75%  { transform: translateY(.75em); opacity: 0; }
  100% { transform: translateY(0); opacity: 0; }
}

.example--2 {
  background: cornflowerblue;
}

.scroll-icon__dot {
  display: block;
  position: absolute;
  left: 50%;
  background: #fff;
  height: .5em;
  width: .5em;
  top: .6em;
  margin-left: -.25em;
  border-radius: 50%;
  transform-origin: top center;
  backface-visibility: hidden;
  animation: scroll_2 2s ease-out infinite;
}

.scroll-icon {
  display: block;
  position: relative;
  height: 3em;
  width: 1.5em;
  border: .15em solid #fff;
  border-radius: 1em;
  left: -50;
}

.carousel .slide iframe {
  display: inline-block;
  width: 100%!important;
  margin: 0!important;
  border: 0;
}

.carousel .control-next.control-arrow, .carousel .control-next.control-arrow:hover{
  background-color: transparent!important;
}

.carousel .control-prev.control-arrow, .carousel .control-prev.control-arrow:hover {
  background-color: transparent!important;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow{
  opacity: 1!important;
}

.carousel .control-next.control-arrow:before {
  content: ''!important;
  border: solid #ccc!important;
  border-width: 0 8px 8px 0!important;
  margin-left: 8px;
  display: inline-block!important;
  padding: 14px!important;
  transform: rotate(-45deg)!important;
  -webkit-transform: rotate(-45deg)!important;
}

.carousel .control-prev.control-arrow:before {
  content: ''!important;
  border: solid #ccc!important;
  border-width: 0 8px 8px 0!important;
  display: inline-block!important;
  padding: 14px!important;
  transform: rotate(135deg)!important;
  -webkit-transform: rotate(135deg)!important;
}


.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity .5s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;
}

.box {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.box:hover::after {
    opacity: 1;
}

.parent {
  width: 320px;
  height: 50px;
  display: block;
  transition: all 0.3s;
  cursor: pointer;
  padding: 12px;
  box-sizing: border-box;
}

/***  desired colors for children  ***/
.parent{
  background:linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  -webkit-background-clip: "text";
  -webkit-text-fill-color: "transparent";
}
.parent:hover{
  color: #fff;
  background: #85c1fc;
}

.parent span{
  font-size: 18px;
  margin-right: 8px;
  font-weight: bold;
  font-family: 'Helvetica';
  line-height: 26px;
  vertical-align: top;
}
.parent svg{
  max-height: 26px;
  width: auto;
  display: inline;
}

/****  magic trick  *****/
.parent svg path{
  fill: currentcolor;
}

.gh-curve:after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding-bottom: 2.7vw;
  background-image: url(./assets/images/curve.svg);
  background-position-x: center;
  background-size: 110vw;
}