body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Baloo', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: clamp(1rem, 2.5vw, 1.8rem);
}
.carousel .slide{ background: none; }

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

code {
  font-family: monospace, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes fadein {
  from { 
    opacity: 0;
    transform: translateY(0); 
   }
  to   
  { opacity: 1;
    transform: translateY(-30px);
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { 
    opacity: 0;
    transform: translateY(0); 
   }
  to   
  { opacity: 1;
    transform: translateY(-30px);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { 
    opacity: 0;
    transform: translateY(0); 
   }
  to   
  { opacity: 1;
    transform: translateY(-30px);
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { 
    opacity: 0;
    transform: translateY(0); 
   }
  to   
  { opacity: 1;
    transform: translateY(-30px);
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { 
    opacity: 0;
    transform: translateY(0); 
   }
  to   
  { opacity: 1;
    transform: translateY(-30px);
  }
}

.fa-gradient {
	background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#333));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@font-face {
  font-family: 'Azonix';
  src: local('Azonix'), url(./assets/fonts/Azonix.otf) format('opentype');
}

@font-face {
  font-family: 'Fluo';
  src: local('Fluo'), url(./assets/fonts/secrcode.ttf) format('truetype');
}

p {
  color: rgba(0,0,0,.92);
}

/* Brightness-zoom Container */
.img-hover-zoom--brightness img {
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
}

/* The Transformation */
.img-hover-zoom--brightness:hover img {
  transform: scale(1.1);
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.fadeIn {
  text-align: center;

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}